<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="../styles/registro.css">
</head>
<body class="login-registro">
    <div class="login-container">
        <h2>Iniciar Sesión</h2>

        <form method="post" action="../src/login.php">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" required>

            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" name="contrasena" required>

            <button type="submit">Entrar</button>
        </form>
        <div class="registro-link">
          <p>¿No tienes una cuenta? <a href="registro.html">Crear una cuenta</a></p>
        </div>
    </div>
</body>
</html>
